<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container my-4">
        <div class="row">
            <div class="col-7 border mx-auto p-4">
                <div class="text-center" style="font-family: poppins !important;">
                    <b>बधाई हो!</b>
                    <p>आपने विशेष समाज कल्याण परिषद के सदस्य के रूप में सफलतापूर्वक पंजीकरण करा लिया है!</p>
                    <p>हमारी टीम जल्द ही आपके पंजीकरण की समीक्षा करेगी। एक बार स्वीकृत होने पर,
                        आपको हमारे संगठन से एक मुद्रित आईडी कार्ड प्राप्त होगा।</p>
                    <p>कृपया नीचे दिए गए क्यूआर कोड को स्कैन करके सदस्यता शुल्क का भुगतान करने के लिए आगे बढ़ें।</p>
                    <img src="{% static 'QR Code for Payment.jpg' %}" width="200px" alt="">
                    <p class="my-2">अपनी डिजिटल आईडी डाउनलोड करें:</p>
                    {% for p in profile %}
                    <a href="{% url 'profile' p.unique_id %}">
                        <button class="btn btn-primary">View Digital ID Card</button>
                    </a>
                    {% endfor %}
                    <p class="mt-3 mb-0">सामाजिक कल्याण और सशक्तिकरण के हमारे मिशन में शामिल होने के लिए धन्यवाद।</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>